main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  width: 600px;
  height: 600px
}

app-square {
  border: 1px gray solid;
}

@media screen and (max-width: 768px) {
  main {
    width: 90vw;
    height: 90vw;
  }
}
